
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto';
}
/* HTML5 display-role reset for older browsers */
p{float:left; width:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
a:hover{text-decoration:none !important;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'BPscript';
    src: url('BPscript-webfont.eot');
    src: url('BPscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPscript-webfont.woff') format('woff'),
         url('BPscript-webfont.ttf') format('truetype'),
         url('BPscript-webfont.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{font-family:'Roboto';}
body{font-size:14px; line-height:20px; font-family:'Roboto';}
p{margin-bottom:7px; line-height:22px;}
a:focus{text-decoration:none !important;}
.nopad{padding:0;}
#topnav{width:100%; float:left; background:#009989; padding:10px 0;}
#topnav p{color:#fff;}
.siteHeaderLinks ul{float:right;}
.siteHeaderLinks ul li{border-right:none; float:left; padding:0 0 0 10px;}
.siteHeaderLinks ul li a{ color: #fff; font-size: 10px !important;  text-transform:uppercase; font-weight: bold; padding: 0 7px 0 0 !important; border-right: 1px solid #fff !important; border:0; text-shadow: 0; box-shadow:none;}
.siteHeaderLinks ul li a:hover{color:#ccc; text-decoration:none;}

#header{width:100%; float:left; border-bottom:1px solid #00b04c; margin:40px 0 25px 0;}
#header .search-wrap{float:right;}
#header .search{float:right; padding:20px; cursor:pointer; position:relative; width:70%; margin-right:15px;}
#header .search .ui-input-text{width:auto !important; float:right;}
#header .search .searchSubmit{float:right; position:absolute; right:20px;}
#header .search input[type="text"]{border-top:0; border-right:0; border-left:1px solid #000; border-bottom:1px solid #000; padding:5px; margin-right:4px; float:right; width:250px; margin-left:5px;}
#header .cart{float:right; background:url('./../images/cart.png') no-repeat top left; padding:15px 0 15px 0; margin-top:20px; width:35px;}
#header .cart p{padding-left:33px;}
#header .cart span{font-weight:bold;}
.mob-nav{background:url('./../images/main-img.png') no-repeat -8px -635px; position:relative; float:left; width:50px; height:50px; border-right:1px solid #09b352; margin-right:30px;}
/*#navbar{margin-bottom:20px;}*/
#navbar img{float:left;}
#navbar .navbar-btn{margin-top:5px; margin-bottom:0;}
.menu{float:left; margin-top:32px; margin-left:20px;}
.menu ul li{float:left;}
.menu ul li a{padding:10px 20px; color:#000; text-decoration:none; font-size:14px;}
.menu ul li a:hover{text-decoration:none;}
.menu .topLevel{width:auto; float:left; /*padding:10px 20px;*/}


#content{float:left; width:100%; margin-bottom:20px;}

#footer{width:100%; float:left; background:url('./../images/footer-bg.jpg') no-repeat top left; padding:20px 0; position:relative; text-align:center;}
#footer ul li{display:inline-block; padding:4px 0;}
#footer ul li a{color:#fff; border-right:1px solid #fff; padding:0 10px; font-size:14px; font-weight:normal; line-height:14px;}
#footer ul li a:hover{background-color:transparent;}
#footer h3{margin-top:40px; color:#fff; text-transform:uppercase;  font-family:'BPscript'; font-size:15px;}
#footer .social{margin-bottom:10px;}
#footer .social a{border:none;}
#footer ul li{cursor:pointer;}
#footer ul li.facebook{width:auto; float:none; margin:0 !important; background:url('./../images/main-img.png') no-repeat 0 0; position:relative; padding:11px;}
#footer ul li.facebook a, #footer ul li.google a{background:none; float:inherit;}
#footer ul li.flickr{width:auto; float:none; background:url('./../images/main-img.png') no-repeat 0px -46px; position:relative; padding:11px;}
#footer ul li.google{width:auto; float:none; background:url('./../images/main-img.png') no-repeat 0px -97px; position:relative; padding:11px;}
#footer ul li.printrest{width:auto; float:none; background:url('./../images/main-img.png') no-repeat 0px -144px; position:relative; padding:11px;}
#footer ul li.twitter{width:auto; float:none; background:url('./../images/main-img.png') no-repeat 0px -188px; position:relative; padding:11px;}
#footer ul li.in{width:auto; float:none; background:url('./../images/main-img.png') no-repeat 0px -234px; position:relative; padding:11px;}

/************* mega menu ****************/
   .menu ul#eCommerceNavBarMenu{
        float: left;
        position: relative;
        width: 100%; margin-bottom:0;
   }
   #eCommerceNavBarMenu li.topLevel{
        float: left;
        position: relative;
   }
   #eCommerceNavBarMenu li.topLevel > a{
        padding: 10px 20px !important;
        color: #231f20;
        font-size: 14px !important;
        text-align:center; font-weight:normal;
   }
   #eCommerceNavBarMenu ul{
        border: 1px solid #AFAFAF;
        border-top: none;
        background: #FFFFFF;
        min-width: 150px;
        position: absolute;
        z-index: 999
   }
   #eCommerceNavBar > ul > li > ul > li:first-child{margin:0;}
   #eCommerceNavBar> ul > li > ul > li{
        float: none;
        width: 100%;
        margin-top: 10px !important;
   }
   #eCommerceNavBarMenu ul li a{
        display: block;
        padding: 4px 10px;
        white-space: nowrap;
    }
    #eCommerceNavBar > ul > li > ul > li > ul{
        position: relative;
        display: block !important;
    }
    #eCommerceNavBar > ul > li > ul > li > ul > li{float:none;}
    #eCommercePageBody{
        width: 1300px;
        margin: 0 auto;
        display: block;
        clear: both;
        z-index: 1;
    }
    .subCategoryNav{margin-top:40px;}
    .subCategoryNav li ul.subCategoryNav{margin-top:0px;}
    #eCommerceNavBarMenu li:hover>ul{
        width: 1300px;
        border: none;
        background: #00b04c;
        padding: 10px;
        min-height: 400px;
    }
    #eCommerceNavBarMenu li:hover>ul li.subLevel{
        width: 19%;
        float: left;
        display: block;
        border: none;
    }
    #eCommerceNavBarMenu li:hover>ul li.subLevel>a{
        color: #fff;
        font-weight: bold; font-size:15px;
    }
    #eCommerceNavBarMenu li:hover>ul li.subLevel>ul{
        width: 100%;
        float: left;
        border: none;
        min-height: auto !important;
        position: inherit !important;
        padding: 0;
        background: none; margin-top:5px;
    }
    #eCommerceNavBarMenu li:hover>ul li.subLevel>ul>li{
        width: 100%;
        float: left;
    }
    #eCommerceNavBarMenu li:hover>ul li.subLevel>ul>li a{
        color: #fff;
        font-size: 14px !important;
        width: auto; font-weight:normal;
    }
    #eCommerceNavBarMenu li.topLevel:hover{
        background: #00b04c;
    }
    #eCommerceNavBarMenu li.topLevel:hover a{
        color:#fff;
    }


/************************* PLP starts ***********************/
.plp .plp-left{background:#f6f6f6; float:left; padding:30px 0; width:23%; margin-right:15px;}
.left-wrap{margin:0 0 0 15px; padding:0 15px 0 0;}
.left-wrap h3, .breadcrumb h3{font-family:inherit; font-size:17px; color:0081c5; font-weight:bold; padding-top:10px; margin-bottom:28px;}
.left-wrap ul li h3{color:#58595b; border-top:1px solid #a7a7a8; font-size:16px; font-weight:normal; margin-bottom:10px;}
.plus{background:url('./../images/main-img.png') no-repeat 0 -376px; padding:10px; float:right;}
.minus{background:url('./../images/main-img.png') no-repeat 0 -403px; padding:10px; float:right;}
.left-wrap #price-wrap{width:80%; margin:0 0 10px 10px; float:left;}
.left-wrap ul li, .left-wrap ul li #price{float:left; width:100%; margin-bottom:5px;}
.left-wrap ul li ul li{float:left; width:100%; color:#000;}
.left-wrap ul li ul li input[type="checkbox"]{margin-right:2px;}
.left-wrap #price-wrap .jslider{margin-bottom:38px;}
#size-wrap li{float:left; width:auto; margin-right:15px;}

.plp .plp-right{margin:30px 0;}
/*.plp .plp-right .box:hover{border:1px solid red;}*/
.plp .plp-right .col-xs-12.col-sm-4.col-md-3{padding-left:0;}
.box{/*border:1px solid #e1e1e1;*/ height:390px; float:right; width:100%; padding:5px 0; margin-bottom:15px; position:relative; display:inline-block; overflow:hidden;}
.box img{max-width:100%;}
.box .img-wrap{position:relative; float:left; width:100%; padding:0;}
.box div{padding:5px 10px;} 
.title{color:#989899; float:left; width:100%; margin-top:7px;}
.price{color:#000; font-weight:bold; font-size:16px; float:left; width:100%;}
.select-wrap{position:absolute; bottom:0; float:left; width:100%; background:#fff; padding:5px 0; opacity:0.8;}
.select-wrap .addcart{background:url('./../images/main-img.png') no-repeat 0px -290px; padding:15px 20px; float:left;}
.select-wrap .wishlist{background:url('./../images/main-img.png') no-repeat 0px -334px; padding:15px 20px; float:right;}

.cart-options{float:left; width:100%; background:#fff; position:absolute; bottom:0;}
.cart-options ul{float:left; width:100%; position:relative;}
.cart-options ul li{width:35px; height:25px;}
.cart-options ul.size li{float:left; background:#fff; border:1px solid #afafaf; margin-right:7px; line-height:14px;}
.cart-options ul.size li a{color:#000; font-weight:bold; padding:5px; float:left;}
.cart-options ul.color li, .color ul li{float:left; background:#fff; border:1px solid #afafaf; margin-right:7px; line-height:14px; margin-bottom:10px;}
.cart-options ul.color li a{color:#000; font-weight:bold; float:left;}
.black{background:#000 !important;}
.red{background:#e0050a !important;}
.blue{background:#0005c5 !important;}
.green{background:#1bd808 !important;}
.close{position:absolute; top:-20px; right:3px; opacity:inherit;}

.sort-wrap{float:right; width:auto; margin-bottom:30px;}
.sort-wrap span{font-size:17px; color:0081c5; font-weight:bold; margin-right:10px;}
.sort-wrap select{width:160px; padding:5px; background:url('./../images/main-img.png') no-repeat 139px -419px;}
.disabled{background:#E8E8E8; color:#bababa !important;}

/************************* PDP starts ***********************/
.pdp .breadcrumb{background:none;}
.pdp .breadcrumb h3{margin-bottom:0;}
.pdp  .pdp-left{margin-bottom:20px;}
.pdp .title, .pdp .size{border-bottom:1px solid #adafb2; margin-bottom:15px; padding-bottom:20px; float:left; width:100%;}
.pdp .title{margin-top:0;}
.pdp .title h2{font-family:'Roboto'; font-size:28px; color:#58595b; margin-bottom:15px; line-height:28px;}
.pdp .title span{font-size:28px; font-weight:bold; color:#58595b; line-height:28px;}
.pdp .size .available, .pdp .color .available{float:left; font-size:18px; margin-right:15px; color:#58595b; font-weight:bold;}
.pdp .size ul li{float:left; margin-right:8px;}
.pdp .size ul li input{float:left; margin:2px 2px 0 0; width:15px; height:15px;}
.pdp .size ul li label{color:#000; float:left;}
.pdp .sizechart{float:right; margin-bottom:15px;}
.pdp .sizechart p{font-style:italic;}
.pdp .sizechart p a{color:#000; font-weight:bold;}
.pdp .color ul{float:left;}
.pdp .color ul li{width:20px; height:20px;}
.pdp .stock{float:left; width:100%; margin-top:15px;}
.pdp .stock ul li{float:left; margin-right:20px;}
.pdp .stock ul li .instock{background:#00b04c; width:20px; height:15px; float:left; margin-right:5px;}
.pdp .stock ul li .lowstock{background:#afd89e; width:20px; height:15px; float:left; margin-right:5px;}
.pdp .stock ul li .outstock{background:#E8E8E8; width:20px; height:15px; float:left; margin-right:5px;}
.pdp .btns-wrap a.lowstock{background:#afd89e !important; color:#fff !important}

.pdp .btns-wrap{float:left; width:100%; margin:30px 0 15px 0;}
.pdp .btns-wrap span, #cart .btns-wrap span{background:#00b04c; width:184px; float:left; margin-right:10px;}
.pdp .btns-wrap span a, #cart .btns-wrap span a, .checkpin a, .checkout .btns-wrap span a, .payment-method .btns-wrap a{text-align:center; color:#fff; float:left; width:100%; padding:10px 0; font-size:16px;}
.pdp .btns-wrap span a.wish-icon{background:url('./../images/main-img.png') no-repeat 0px -330px;}
.pdp .btns-wrap span a.add-bag{background:url('./../images/main-img.png') no-repeat 4px -287px;}
.story-wrap{margin:35px 0 0 0; width:100%; float:left;}
.story-wrap h2, .price-wrap h2{color:#0081c5; font-size:30px; font-weight:bold; margin-bottom:15px;}
.storyimg-wrap{float:left; width:100%; margin-top:15px;}
.pleft{padding-left:0;}
.pright{padding-right:0;}
.imgwrap-right img{margin-bottom:5px;}
.video{margin-top:10px;}
.zoom-wrap{float:left; width:100%;/* height:520px;*/}
.zoom-img img{max-height:520px;}
.price-wrap{float:left; width:100%; background:#cce6f3; padding:20px; margin-top:20px;}
.pdp .img-wrap{margin-bottom:10px; float:left;}
.pdp .img-wrap img{width:31.7%; float:left; margin-right:5px;}
.video img{width:48%; float:left; margin-right:5px;}
.video-left{width:100%%; float:left;}
.video-right{width:32%; float:left;}

/************************* CART starts ***********************/
.heading-bar{position:relative; height: 0; border-top: 42px solid #0081c5; border-right: 42px solid transparent; padding:7px 20px; width:100%; display:block; margin:35px 0 0px 0; color:#fff; font-size:20px; line-height:20px;}
.heading-bar h2{position:absolute; top:-31px;}
.cartbox, .addressbox, .outerbox{width:100%; float:left; border:1px solid #d3d2d2; padding:15px 25px 20px 25px; margin-bottom:10px;}
.cartbox .img-wrap img{width:150px;}
.cartbox h3, .myorders .cartbox h3{color:#0081c5; font-weight:bold; font-size:16px; margin-bottom:7px;}
.cartbox h4{color:#0081c5; font-weight:bold; font-size:15px; margin-bottom:15px;}
.cartbox .qty, .cartbox .size{border:1px solid #d3d2d2; padding:2px 3px;}
.cartbox label{margin-right:3px; color:#6d6e70;}
.cart-details .cartrow{margin-bottom:15px;}
.cart-details span, a.remove, a.update{color:#0081c5; font-weight:bold;}
.cartbox .total span, .cartbox .total label{font-size:18px;}
.cartbox .total{padding-right:0;}
.edit-warp, .bottomimg-wrap{width:100%; float:left;}
.remove{background:url('./../images/main-img.png') no-repeat -5px -446px; padding:10px 28px;}
.update{background:url('./../images/main-img.png') no-repeat -5px -477px; padding:10px 28px;}
.edit{margin:10px 0; padding-right:0;}
#subtotal, .alltotal{float:right; width:100%; text-align:right; margin:15px 0;}
#subtotal label, .alltotal label{ color:#6d6e70; font-size:28px; font-weight:bold; margin-right:5px;}
#subtotal span, .alltotal span{color:#0081c5; font-size:28px; font-weight:bold;}
#cart .btns-wrap{margin:20px 0; float:right; width:100%;}
#cart .btns-wrap span{float:right; margin-left:10px; margin-right:0;}
.checkpin{float:right; width:420px;}
.checkpin input[type="text"]{width:300px; padding:8px; line-height:20px; position:relative;}
.checkpin a{background:#00b04c; width:120px; float:right; position:absolute;}
.bottomimg-wrap{margin:30px 0 20px 0;}
.bottomimg-wrap .img-box span{height:80px;}
.bottomimg-wrap .img-box{border-right:1px solid #01b04c; margin-bottom:30px;}
.bottomimg-wrap .img-box:last-child{border:0;}
.bottomimg-wrap .img-box span, .bottomimg-wrap .img-box p{width:100%; float:left; text-align:center;}
.bottomimg-wrap .img-box p{padding-top:20px; font-size:16px; color:#000;}

/****************************  Check out starts  *************************/
.checkout-left, .myaccount-left{background:#eaeaea; height:100%; float:left; padding:25px 30px 25px 30px;}
.checkout-left h2, .myaccount-left h2{font-size:22px; color:#6d6e70; font-weight:bold;}
.checkout-left ul{padding-top:20px;}
.checkout-left ul li, .myaccount-left ul li{ width:100%; float:left;}
.checkout-left ul li a, .myaccount-left ul li a{font-size:14px; color:#6d6e70; font-weight:bold; padding:9px 0; display:block;}
.active{color:#0081c5 !important; text-decoration:none;}
.checkout-right, .wishlist, .myorders{padding:25px 15px;}
.checkout-right h3, .wishlist h3, .myorders h3{font-size:20px; font-weight:bold; color:#6d6e70; margin-bottom:10px; float:left; width:100%;}
.checkout-right input[type="text"]{width:75%; padding:10px; margin:10px 0 10px 0; border:1px solid #c7c6c6;}
.checkout-right .remember{background:url('./../images/main-img.png') no-repeat -8px -540px; padding:11px; float:left; width:100%;}
.checkout-right .remember a{padding-left:25px; font-weight:normal; font-size:15px; color:#6d6e70;}
.checkout-right .checkoutbtn-wrap{margin:25px 0; float:left; width:100%;}
.checkout-right .checkoutbtn-wrap input[type="button"]{background:#00b04c; width:75%; padding:10px; color:#fff !important; font-weight:bold; text-align:center; font-size:17px; border:0;}
.checkout-right .forgot-pwd{width:100%; float:left; font-weight:bold; padding-top:10px; font-weight:bold; font-size:15px;}
.checkout-right .forgot-pwd a{color:#000;}
.checkout-right .facebook{width:75%; float:left; background:#456198; text-align:center; font-weight:normal; font-size:14px; margin:20px 0 10px 0 !important; padding:5px 0;}
.checkout-right .facebook a{background:url('./../images/main-img.png') no-repeat 0px -7px; position: relative; padding: 6px; width: 96% !important; float: left; color:#fff;}
.checkout-right .google{width:75%; float:left; background:#e34c3c; text-align:center; font-weight:normal; font-size:14px; margin:5px 0 10px 0 !important; padding:5px 0;}
.checkout-right .google a{background:url('./../images/main-img.png') no-repeat 0px -105px; position: relative; padding: 6px; width: 96% !important; float: left; color:#fff;}
.checkout-right h3.signup{margin-top:25px;}
.checkout-right .heading-bar{margin-top:0;}
.checkout-right #order-confirm{width:100%; float:right; text-align:right; font-weight:bold; margin-top:10px;}
.checkout-right #order-confirm label{font-size:18px; color:#6d6e70;}
.checkout-right #order-confirm span{color:#0081c5; border:1px solid #d2d2d2; padding:5px; font-size:18px;}
.checkout .btns-wrap span{background:#00b04c; width:250px; float:right; margin-top:30px; font-weight:bold;}
.checkout .address h4{margin-bottom:20px;}
.checkout .addressbox{width:47% !important; margin-right:15px; padding:15px; position:relative;}
.checkout .address span{float:left; width:100%; padding-bottom:7px; font-weight:bold; color:#6d6e70;}
.checkout .address .phno{padding-top:15px; width:100%; float:left;}
.checkout .address .phno span, .checkout .address .phno label{width:auto; float:left; color:#6d6e70; font-weight:bold;}
.checkout .edit-address{float:left; text-align:right; position:absolute; right:15px;}
.checkout .edit-address .plus{background:url('./../images/main-img.png') no-repeat -8px -588px; padding:11px; float:right; margin:0 0 0 10px;}
.checkout .edit-address .edit{background:url('./../images/main-img.png') no-repeat -38px -585px; padding:12px; float:right; margin:0 0 0 10px;}
.checkout .edit-address .delete{background:url('./../images/main-img.png') no-repeat -76px -582px; padding:13px; float:right; margin:0 0 0 10px;}
.checkout .payment-method span{margin-right:60px; width:auto; float:left;}
.payment-method .btns-wrap{width:100%; float:left; margin-top:20px;}
.payment-method .btns-wrap a{background:#00b04c; padding:10px 40px; width:auto;}
.active-img{background:url('./../images/main-img.png') no-repeat 106px -540px; padding:13px 44px 8px 0; display:block; margin:0; width:auto;}
.deliverybtn-wrap{margin:20px 0;}
.deliverybtn-wrap a{border:1px solid #00b04c; background:#00b04c; color:#fff; font-weight:bold; padding:10px 30px;}

/***************************  myaccount section starts  ***************************/
.myaccount-left h3{font-weight:bold; font-size:17px; color:#6d6e70; margin-bottom:7px;}
.myaccount-left > ul{padding-top:25px; width:100%; float:left;}
.myaccount-left > ul > li{margin-bottom:20px;}
.myaccount .myaccount-left ul li a{font-weight:normal; padding:6px 0; font-size:15px;}
.myaccount-right.wishlist .cartbox{width:47.5%; margin-right:20px;}
.myaccount-right.wishlist .details-right{float:right;}
.myaccount-right.wishlist .details-right .remove{padding:6px 0 2px 28px; float:right;}
.myaccount-right.wishlist .btns-wrap{position:absolute; width:100%; right:0; bottom:10px;}
.myaccount-right.wishlist .btns-wrap span{background:url('./../images/main-img.png') no-repeat 15px -286px #00b04c; float:right; width:170px; cursor:pointer;}
.myaccount-right.wishlist .btns-wrap span a{text-align:left; margin-left:62px; width:auto;}
.myaccount-right.wishlist .cartbox .qty, .myaccount-right.wishlist .cartbox .size, .myorders .cart-details span{border:0;}
.myorders .tabing-wrap{width:100%; float:left; margin-top:15px;}
.myorders .tabing-wrap .tabing-btns{position:relative; height: 0; border-top: 42px solid #fff; border-right: 42px solid transparent; padding:7px 20px; width:50%; display:block; margin:0; font-size:20px; line-height:20px; float:left;}
.myorders .tabing-wrap .tab-active{position:relative; height: 0; border-top: 42px solid #0081c5 !important; border-right: 42px solid transparent; padding:7px 20px; width:50%; display:block; margin:0; color:#fff; font-size:20px; line-height:20px; float:left;}
.myorders .tabing-wrap a{position:absolute; top:-31px; color:#000; width:auto; text-align:center; font-weight:bold; width:100%;}
.myorders .tabing-wrap .tab-active a{color:#fff !important;}
.qty-plus{background:url('./../images/main-img.png') no-repeat -3px -606px; padding:11px; }
.qty-minus{background:url('./../images/main-img.png') no-repeat -42px -608px; padding:8px 11px; margin-right:5px;}
.order-confirmation .cartbox .total{padding-left:0;}
.order-confirmation .cartbox .total span{color:#00b04c;}
.confirmation-wrap, .details-wrap{float:left; width:100%;}
.confirmation-wrap p{color:#000;}
.confirmation-wrap a{color:#0081c5;}
.delivery-wrap{margin-top:20px;}
.delivery-wrap p{font-weight:bold;}
.delivery-wrap p span{color:#0081c5;}
.icon-wrap{float:left; width:100%; margin:20px 0;}
.icon-wrap .icon-container{margin:0 auto; width:35%;}
.icon-wrap .icon-container ul li{float:left; margin:0 10px; width:27%; text-align:center;}
.icon-wrap .icon-container ul li a{color:#000; display:block; margin-bottom:10px; height:55px;}
.details-btns{position:absolute; right:30px; display:block;}
.details-btns a{float:right; font-weight:bold; display:block; width:55%; text-align:center; color:#000; padding:7px; margin-bottom:15px; border:1px solid #00b04c;}
.form-wrap{width:100%; float:left; margin:20px 0;}
.required{color:#BF0000; margin-right:2px; width:auto;}
.form-wrap .form-row{float:left; width:100%; margin-bottom:15px;}
.form-wrap .form-row label{width:170px; float:left;}
.form-wrap .form-row input[type="text"]{width:300px; padding:5px; float:left;}
.form-wrap .btns-wrap{float:left; width:auto; margin-left:170px; margin-top:15px;}
.form-wrap .btns-wrap a{margin-right:10px; text-align:center;}
.form-wrap .btns-wrap a:hover{color:#fff;}
.basic-btn{background:#00b04c; color:#fff; padding:10px 40px; font-size:15px;}




/******************************* change pwd ******************************/
#changepwd{margin:40px auto 20px auto; padding:25px; width:450px !important; height:auto !important;}
#changepwd h3{margin:5px 0 15px 0;}
#changepwd input[type="password"]{margin:15px 0 4px 0 !important; border:none;}
.forgot-btn{margin-top:35px !important;}
.forgot-btn #js_submitChangePasswdBtn{border:none; width:100%; background:none; padding:5px 7px; font-weight:bold;}


/***************************  popup code starts  ***************************/
#login.ui-page {min-height: 75% !important;}
    #signup.ui-page {min-height: 85% !important;}
    #forgotpwd.ui-page{min-height: 43% !important;}
    .ui-content{padding:10px 25px 10px 25px;}
.ui-popup.signin, #changepwd{background-color:#00b04c; color:#fff;  height:100%; width:400px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}
.signin h3, #changepwd h3{font-size:30px; font-weight:300;}
.signin input[type="text"], #changepwd input[type="password"]{width:100%; border-radius:0; background:#fff; color:#6d6e70; margin:15px 0 7px 0; padding:10px;}
.remember{background:url('./../images/main-img.png') no-repeat -4px -502px; position:relative; padding:11px; width:378px !important; float:left; margin-top:10px;}
.ui-popup.signin a, .ui-popup.signin a:hover{color:#fff; text-decoration:none; font-weight:normal;}
.ui-popup.signin .remember a{padding-left:30px;}
#signin{color:#00b04c; font-size:17px; font-weight:300;}
.signin .ui-input-btn.ui-btn, .forgot-btn{background:#fff; border:none; color:#00b04c; font-size:25px; font-weight:normal; padding:5px 7px; margin:25px 0 15px 0;}
.ui-input-text, .signin-btn{width:400px !important; float:left;}
.ui-shadow-inset{box-shadow:none !important; -webkit-box-shadow:none !important; -moz-box-shadow:none !important; -o-box-shadow:none !important;}
.ui-popup-container{height:100%;}
.forgot-pwd{float:left; width:auto; font-weight:normal; font-size:14px;}
.new-signup{float:right; width:auto; font-weight:normal; font-size:14px;}
.ui-mobile .ui-page-active{overflow-x: visible !important;}
.ui-popup .facebook{width:400px; float:left; background:#456198; text-align:center; font-size:14px; font-weight:normal; padding:8px 0; margin:20px 0 10px 0 !important;}
.ui-popup .facebook a{background:url('./../images/main-img.png') no-repeat 0px -10px; position:relative; padding:6px; width:96% !important; float:left;}
.ui-popup .google{width:400px; float:left; background:#e34c3c; text-align:center; font-size:14px; font-weight:normal; padding:8px 0; margin:0 !important;}
.ui-popup .google a{background:url('./../images/main-img.png') no-repeat 0px -105px; position:relative; padding:6px; width:96% !important; float:left;}
.forgot-btn .ui-input-btn{width:auto; float:right; padding:5px 20px !important; margin-left:20px !important;}
#positionWindow-popup a{color:#fff !important; font-weight:700;}

/************************* RESPONSIVE starts ***********************/
@media(max-width:1100px){
    .pdp .btns-wrap span{width:300px; margin-bottom:10px;}
    .storyimg-wrap .btns-wrap span{width:185px;}
    .menu{width:300%; margin-left:-20px;}
}

@media (min-width:786px){
    .mob-nav{display:none;}
}
@media (max-width:785px){
    .mob-nav{display:block;}
    .menu{display:none;}
}

@media only screen and (max-width:992px) and (min-width:768px){
    .pdp .sizechart{float:left; margin-bottom:0; width:100%;}
    .pdp .sizechart p{margin-top:5px; margin-bottom:15px;}
    .storyimg-wrap .btns-wrap span{width:300px; margin-bottom:10px;}
    .bottomimg-wrap .img-box:nth-of-type(3){border:none;}
    .checkout .addressbox{width:93% !important;}
    .icon-wrap .icon-container{width:47%;}
    .details-btns{position:relative; width:100%; float:right; right:0px;}
    .details-btns a{margin-bottom:0; margin-top:10px; margin-right:10px; width:30%;}
}

@media only screen and (max-width:1024px) and (min-width:901px){
     #eCommerceNavBarMenu li:hover>ul li.subLevel{width:20.1%;}
}

@media only screen and (max-width:900px) and (min-width:861px){
     #eCommerceNavBarMenu li:hover>ul li.subLevel{width:18%;}
}

@media only screen and (max-width:860px) and (min-width:768px){
     #eCommerceNavBarMenu li:hover>ul li.subLevel{width:23%;}
}

@media only screen and (max-width:1024px) and (min-width:768px){
    .myaccount-right.wishlist .cartbox{width:47%;}
    .wishlist .img-wrap{margin-bottom:20px;}
    .wishlist .img-wrap, .wishlist .cart-details{width:100%; padding-left:0;}
    .wishlist .cart-details .details-left{padding-left:0;}
}

@media only screen and (max-width:875px) and (min-width:768px){
    .form-wrap .btns-wrap{margin-left:0;}
}


@media only screen and (max-width:767px) and (min-width:640px){
    .plp-right .col-xs-12{width:33.333%;}
    .bottomimg-wrap .img-box:nth-of-type(3){border:none;}
    .icon-wrap .icon-container{width:60%;}
}

@media only screen and (max-width:660px) and (min-width:481px){
    .pdp .btns-wrap span{width:60%; margin-bottom:10px;}
    .bottomimg-wrap .img-box:nth-of-type(3){border:none;}
}

@media only screen and (max-width:639px) and (min-width:400px){
    .plp-right .col-xs-12{width:50%;}
    .icon-wrap .icon-container{width:80%;}
}

@media (max-width:885px){
    .checkpin{width:100%; float:left;  margin-top:15px;}
    .checkpin input[type="text"]{width:75%;}
    .checkpin a{width:24%;}
}
@media (max-width:767px){
    .siteHeaderLinks ul{float:left;}
    .siteHeaderLinks ul li:first-child{padding-left:0;}
    #header .search{float:left; width:auto; padding-left:0; margin-bottom:34px;}
    #header .cart{margin-top:25px;}
    .plp-left{display:none;}
    .box{height:auto;}
    .sortby{width:100% !important; padding-left:0;}
    .plp .plp-right .row{padding-left:15;}
    .sort-wrap{float:left;}
    .pdp .btns-wrap{width:85%;}
    .cart-details{margin-top:10px;}
    .checkout-left, .myaccount-left{height:auto;}
    .checkout-right{padding-right:0; padding-left:0;}
    .checkout-right .tab-content>.col-xs-12{padding-right:0; padding-left:0;}
    .checkout-right input[type="text"], .checkout-right .checkoutbtn-wrap input[type="button"]{width:100%;}
    .checkout-right .facebook, .checkout-right .google{width:100%;}
    .checkout .addressbox{width:93% !important;}
    .wishlist .cart-details .details-left, .wishlist .cart-details, .wishlist .img-wrap{padding-left:0;}
    .myaccount-right.wishlist .cartbox{width:100%;}
}

@media (max-width:600px){
    .pdp .sizechart{float:left; margin:5px 0 10px 0; width:100%;}
    .cart-details .details-left, .cart-details .details-right{width:100%;}
    .cart-details .total{width:100%;}
    .cart-details .total div{float:left;}
    .edit-wrap{width:100%; margin-bottom:20px;}
    .total{padding-left:0;}
    .checkout-right input[type="text"], .checkout-right .checkoutbtn-wrap input[type="button"]{width:100%;}
    .myaccount-right.wishlist .details-left, .myaccount-right.wishlist .details-right{width:auto;}
    .heading-bar.orderno{border-top:55px solid #0081c5;}
    .heading-bar.orderno h2{top:-50px; line-height:25px;}
    .heading-bar.orderno h2 span{display:block;}
    .form-wrap .form-row input[type="text"]{width:90%;}
    .form-wrap .btns-wrap{margin-left:0;}
}

@media (max-width:550px){
    #header .search{width:100%; margin-bottom:0 !important;}
    #header .search input[type="text"]{width:98%;}
    #header .cart{margin-top:0px; margin-bottom:30px;}
/*  #header{width:99.1%;}*/
    .pdp .size ul li{margin-right:7px;}
    .checkout-right #subtotal, .checkout-right #order-confirm{text-align:center;}
    .checkout-right #order-confirm label{width:100%; margin-bottom:20px;}
    #changepwd{width:100% !important;}
}

@media (max-width:480px){
    .pdp .btns-wrap span{width:200px; margin-bottom:10px; clear:left;}
    .pdp .img-wrap img{width:31%;}
    .video img{width:47%;}
    #cart .btns-wrap span{width:100%; margin-left:0; margin-bottom:15px;}
    .checkpin{margin-top:2px;}
    .bottomimg-wrap .img-box{width:50%;}
    .bottomimg-wrap .img-box:nth-of-type(2){border:none;}
    .bottomimg-wrap .img-box:nth-of-type(4){border:none;}
    #subtotal label, #subtotal span{font-size:25px;}
    .checkout .edit-address a{float:right; width:100%; margin-bottom:8px;}
    .myaccount-right.wishlist .details-left, .myaccount-right.wishlist .details-right{width:100%;}
    .myaccount-right.wishlist .details-left{margin-bottom:15px; padding-left:0; padding-right:0;}
    .myaccount-right.wishlist .btns-wrap span{float:left; background:#00b04c; width:auto;}
    .myaccount-right.wishlist .btns-wrap span a{text-align:center; margin:0; padding:8px 15px;}
    .myaccount-right.wishlist .btns-wrap{bottom:0;}
    .myaccount-right.wishlist .cart-details{padding-left:0;}
    .icon-wrap .icon-container{width:100%;}
    .icon-wrap .icon-container ul li{width:25%;}
    .icon-wrap .icon-container ul li img{max-width:75%; height:auto;}
    .myorders .tabing-wrap .tabing-btns{font-size:16px;}
    .myorders .tabing-wrap .tab-active{padding:7px 10px;}
    .pdp .stock ul li{width:100%; margin-bottom:10px;}
    .details-btns{position:relative; width:100%; float:right; right:0px;}
    .details-btns a{width:100%;}
}

@media (max-width:400px){
    .pdp .size .available, .pdp .color .available{width:100%; margin-bottom:8px;}
    #subtotal label{width:100%; margin-bottom:15px;}
    .form-wrap .btns-wrap a{width:92%; margin-bottom:15px; float:left;}    
}

@media (max-width:370px){
    .plp-right .col-xs-12{width:100%;}
    .siteHeaderLinks ul li a{padding:0 7px 0 0 !important;}
    .details-left, .details-right, .edit, .cart-details{padding:0;}
    .cartbox{padding:15px 15px 20px 15px;}
    #changepwd h3{font-size:27px;}
    .myorders .tabing-wrap .tabing-btns{font-size:12px;}
    .pdp  .pdp-left .price-wrap h2{font-size:26px;}
}
/********************** popup responsive code ***********************/
@media (max-width:520px){
    .signin{width:85%;}
    .ui-input-text, .signin-btn, .ui-input-text, .signin-btn, .ui-popup .facebook, .ui-popup .google{width:100% !important;}
    .ui-page {min-height: 75% !important;}
}

@media (max-width:380px){
    .forgot-pwd, .new-signup{width:100%; float:left;}
    .forgot-pwd{padding-bottom:10px;}
    .ui-popup .facebook a, .ui-popup .google a{background:none;}
    #login.ui-page {min-height: 79% !important;}
    .forgot-btn .ui-input-btn{padding:5px 10px !important; margin-left:10px !important;}
}
@media (max-width:320px){
    .ui-popup-container{max-width:270px !important;}
}

/***********************PLP Wishlist*****************************/

.wishlist-options{float:left; width:100%; background:#fff; position:absolute; bottom:0;}
.wishlist-options ul{float:left; width:100%; position:relative;}
.wishlist-options ul li{width:35px; height:25px;}
.wishlist-options ul.size li{float:left; background:#fff; border:1px solid #afafaf; margin-right:7px; line-height:14px;}
.wishlist-options ul.size li a{color:#000; font-weight:bold; padding:5px; float:left;}
.wishlist-options ul.color li, .color ul li{float:left; background:#fff; border:1px solid #afafaf; margin-right:7px; line-height:14px; margin-bottom:10px;}
.wishlist-options ul.color li a{color:#000; font-weight:bold; float:left;}
